<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_ROOT_PATH" value="${user.home}/log-one"/>
    <property name="LOG_FILE_NAME" value="one-question-log"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [req:%X{requestId:-N/A}] [ip:%X{clientIp:-N/A}] [uri:%X{uri:-N/A}] [member:%X{memberId:-N/A}] [%thread] %-5level %logger{36} - %msg%n"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="one-question"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="default"/>
    <springProperty scope="context" name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url" defaultValue=""/>

    <!-- 공통 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_PATH}/%d{yyyy/MM/dd}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="site.one_question.global.logging.DiscordWebhookAppender">
        <webhookUrl>${DISCORD_WEBHOOK_URL}</webhookUrl>
        <applicationName>${APP_NAME} (${ACTIVE_PROFILE})</applicationName>
        <filter class="site.one_question.global.logging.DiscordSkipJwtExpiredFilter"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- local: INFO + Hibernate SQL DEBUG -->
    <springProfile name="local">
        <logger name="org.hibernate.SQL" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="DISCORD"/>
        </root>
    </springProfile>

    <!-- dev: INFO -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="DISCORD"/>
        </root>
    </springProfile>

    <!-- prod: 서드파티 WARN, 앱 INFO -->
    <springProfile name="prod">
        <logger name="site.one_question" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="DISCORD"/>
        </root>
    </springProfile>

    <!-- default: CONSOLE only -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DISCORD"/>
        </root>
    </springProfile>
</configuration>
